@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  position: absolute;
  top: 15px;
  left: 0;
  right: 0;
  z-index: 100;
}

.nav {
  background-color: #eee2d4;
  border-radius: 20px;
  padding: 20px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 50px;

  &__item {
    font-family: "Outfit", sans-serif;
    font-size: 20px;
    color: #3b1d1e;

    a {
      text-decoration: none;
      color: inherit;
      position: relative;
      transition: all .3s ease;
    }

    img {
      max-height: 60px;
    }

    &:not(:first-child):not(:last-child) {
      a::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #3b1d1e;
        transition: width 0.3s ease;
      }

      &:hover {
        a::after {
          width: 100%;
        }
      }
    }


  }

  .call-btn {
    margin-left: auto;
  }
}

.call-btn {
  a {
    color: #fff;
  }
}

.main-screen {
  position: relative;
  height: 100vh;
  min-height: 900px;
  max-height: 1200px;
  background-size: cover;
  background-image: url("../images/main-bg.avif");

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50vw;
    background-image: url(../images/bg-filter.png);
    background-size: cover;
    background-position: right;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    background-image: url(../images/main-bg-bottom.svg);
    background-size: cover;
    background-position: bottom;
    z-index: 1;
    height: 195px;
  }

  &__inner {
    padding-top: 15%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    position: relative;
    z-index: 2;
  }

  &__content {
    max-width: 600px;
    font-family: "Eastman", sans-serif;
  }

  &__title {
    font-size: 64px;
    line-height: 110%;
    color: #fff;
    margin-bottom: 60px;
  }

  &__subtitle {
    color: #fff;
    font-size: 20px;
    line-height: 155%;
    margin-bottom: 50px;
    font-weight: 600;
    max-width: 85%;
  }

  &__btn {
    a {
      background-color: #fff;
      color: #3b1d1e;

      &::after {
        background-image: url("../images/tel-icon-dark.svg");
      }
    }
  }

  &__advantages {
    display: flex;
    gap: 80px;
    margin-left: auto;
  }

  &__advantages-item {
    color: #fff;
    font-family: "Outfit", sans-serif;
    margin-bottom: -50px;
    transition: transform 0.3s ease;
    cursor: default;
    position: relative;
    z-index: 1;


    p {
      font-size: 64px;
      line-height: 155%;
      font-weight: 600;
    }

    span {
      font-size: 20px;
      font-weight: 400;
    }
  }
}

.services {
  padding: 130px 0;
  background-color: #e9d1b5;

  &__inner {
    display: flex;
    gap: 120px;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 175%;
    max-width: 80%;
    opacity: 0.7;
    margin-bottom: 30px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    max-width: 80%;
  }

  &__list-item {
    font-size: 18px;
    line-height: 155%;
    opacity: 0.7;
    padding-left: 30px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      height: 25px;
      background-image: url("../images/services-icon.svg");
      background-size: cover;
    }
  }

  &__quote {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #cda97e;
    padding: 40px 50px;
    align-items: center;
  }

  &__quote-image {
    max-width: 300px;
    margin-bottom: 30px;
    border-radius: 10px;
    object-fit: cover;
  }

  &__quote-title {
    font-size: 34px;
    line-height: 100%;
    margin-bottom: 20px;
    font-weight: 600;
    color: #fff;
  }

  &__quote-subtitle {
    color: #fff;
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 50px;
  }

  &__quote-btn {
    margin-top: auto;
    margin-bottom: 20px;

    a {
      border: 2px solid #fff;
      color: #fff;
    }
  }
}

.advantages {
  &__bg {
    width: 100vw;
    height: 500px;
    position: relative;

    img {
      height: 500px;
      width: 100%;
      object-fit: cover;
      object-position: top;
    }

    &::after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      bottom: -1px;
      width: 100vw;
      height: 195px;
      background-image: url("../images/advantages-bg-bottom.svg");
      background-size: cover;
      background-position: bottom;
    }
  }

  &__inner {
    display: flex;
    transform: translateY(-50%);
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    padding: 35px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 272px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 40px 40px 10px rgba(206, 195, 195, 0.75);
  }

  &__item-icon {
    max-width: 86px;
    max-height: 86px;
  }

  &__item-title {
    font-family: "Eastman", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #3b1d1e;
  }

  &__item-text {
    text-align: center;
    line-height: 170%;
    color: #3b1d1e;
    opacity: 0.5;
    max-width: 90%;
  }
}

.before-after {

  &__title {
    text-align: center;
  }

  &__subtitle {
    text-align: center;
  }
}

.about {

  padding: 130px 0;

  &__title {
    margin-bottom: 50px;
    text-align: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;


  }

  &__text {
    max-width: 90%;
    text-align: center;
    font-size: 24px;
    color: #3b1d1eb4;
    line-height: 150%;

    b {
      color: #3b1d1e;
      font-weight: 600;
    }
  }

}

.contact {
  padding: 100px 0;
  background-color: #cda97e;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &__title {
    text-decoration: none;
    color: #fff;
    margin-bottom: 0;
  }

  &__info {
    color: #fff;
    font-size: 20px;


    span {
      display: block;
      text-align: center;
      margin-bottom: 15px;

      a {
        text-decoration: underline;
        color: #3b1d1e;
        font-weight: 600;
      }

    }


  }

  &__help {
    max-width: 50%;
    text-align: center;
    color: #fff;
    opacity: 0.7;
    margin-top: 20px;
  }

  &__btn {
    margin-top: 15px;

    a {
      background: #fff;
      color: #3b1d1e;

      &::after {
        background-image: url('../images/tel-icon-dark.svg');
      }
    }

  }

}

.footer {
  background-color: #3b1d1e;
  color: #fff;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
  }

  &__column {
    display: flex;
    gap: 250px;

  }

  &__block-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;

  }

  &__block-title {
    opacity: .6;
  }

  &__btn {
    margin-bottom: 70px;

    a {
      background-color: #fff;
      color: #3b1d1e;

      &::after {
        background-image: url('../images/tel-icon-dark.svg');
      }
    }
  }

  &__copy {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 10px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      height: 1px;
      background-color: #fff;
      width: 40vw;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;

    }
  }
}

$breakpoint-laptop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;

// Mixins
@mixin laptop {
  @media (max-width: $breakpoint-laptop) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

// Container
.container {
  @include laptop {
    padding: 0 30px;
  }

  @include tablet {
    padding: 0 20px;
  }

  @include mobile {
    padding: 0 15px;
  }
}

.container-large {
  @include laptop {
    padding: 0 30px;
  }

  @include tablet {
    padding: 0 20px;
  }
}

// Call Button
.call-btn a {
  @include tablet {
    font-size: 18px;
    padding: 12px 18px 12px 50px;
  }

  @include mobile {
    font-size: 16px;
    padding: 10px 15px 10px 45px;
  }

  &::after {
    @include mobile {
      width: 25px;
      height: 25px;
      left: 12px;
    }
  }
}

// Section
.section__title {
  @include laptop {
    font-size: 52px;
  }

  @include tablet {
    font-size: 42px;
  }

  @include mobile {
    font-size: 32px;
    margin-bottom: 15px;
  }
}

.section__subtitle {
  @include tablet {
    font-size: 18px;
    margin-bottom: 30px;
  }

  @include mobile {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

section {
  @include tablet {
    scroll-padding-top: 80px;
  }
}

// Grid
.grid {
  @include tablet {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }

  @include mobile {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

// Before After
.before-after {
  @include tablet {
    margin-top: -100px;
    padding: 70px 0;
  }

  @include mobile {
    padding: 50px 0;
  }

  &__inner {
    @include mobile {
      padding: 0 10px;
    }
  }

  &__item {
    @include mobile {
      border-radius: 8px;
    }
  }
}

.divider {
  &::before {
    @include mobile {
      width: 40px;
      height: 40px;
    }
  }

  &::after {
    @include mobile {
      font-size: 20px;
    }
  }
}

.label {
  @include mobile {
    font-size: 12px;
    padding: 6px 12px;
    top: 15px;
  }

  &--before {
    @include mobile {
      left: 15px;
    }
  }

  &--after {
    @include mobile {
      right: 15px;
    }
  }
}


.nav {
  @include tablet {
    padding: 15px;
    border-radius: 15px;
  }
}

.burger {
  @include tablet {
    border-radius: 15px;
    display: block;
  }
}

.header {
  @include tablet {
    width: 100px;
    height: 100px;

  }
}

// Menu
.menu {
  @include laptop {
    gap: 30px;
  }

  @include tablet {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  &__item {
    @include laptop {
      font-size: 18px;
    }

    @include tablet {
      font-size: 16px;
    }
  }

  .call-btn {
    @include tablet {
      margin-left: 0;
      width: 100%;
      text-align: center;

      a {
        width: 100%;
        display: block;
      }
    }
  }
}

// Main Screen
.main-screen {
  @include laptop {
    min-height: 700px;
    max-height: 900px;
  }

  @include tablet {
    min-height: 600px;
    max-height: 800px;
  }

  @include mobile {
    min-height: 500px;
    max-height: 700px;
  }

  &::after {
    @include tablet {
      width: 100vw;
      opacity: 0.5;
    }
  }

  &::before {
    @include tablet {
      height: 120px;
    }

    @include mobile {
      height: 80px;
    }
  }

  &__inner {
    @include laptop {
      padding-top: 10%;
    }

    @include tablet {
      flex-direction: column;
      align-items: center;
      padding-top: 120px;
      gap: 40px;
    }

    @include mobile {
      padding-top: 80px;
      gap: 30px;
    }
  }

  &__content {
    @include tablet {
      max-width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    @include laptop {
      font-size: 52px;
      margin-bottom: 40px;
    }

    @include tablet {
      font-size: 42px;
      margin-bottom: 30px;
    }

    @include mobile {
      font-size: 32px;
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    @include tablet {
      font-size: 18px;
      margin-bottom: 30px;
      max-width: 100%;
    }

    @include mobile {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  &__btn {
    @include tablet {
      width: auto;
    }
  }

  &__advantages {
    @include laptop {
      gap: 50px;
    }

    @include tablet {
      gap: 30px;
      margin-left: 0;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
    }

    @include mobile {
      gap: 20px;
      flex-direction: column;
      align-items: center;
    }
  }

  &__advantages-item {
    @include tablet {
      margin-bottom: 0;
      text-align: center;
    }

    @include mobile {
      width: 100%;
      max-width: 200px;
    }

    p {
      @include laptop {
        font-size: 52px;
      }

      @include tablet {
        font-size: 42px;
      }

      @include mobile {
        font-size: 36px;
      }
    }

    span {
      @include tablet {
        font-size: 18px;
      }

      @include mobile {
        font-size: 16px;
      }
    }
  }
}

// Services
.services {
  @include laptop {
    padding: 100px 0;
  }

  @include tablet {
    padding: 70px 0;
  }

  @include mobile {
    padding: 50px 0;
  }

  &__inner {
    @include laptop {
      gap: 80px;
    }

    @include tablet {
      flex-direction: column;
      gap: 50px;
    }
  }

  &__content {
    @include tablet {
      width: 100%;
    }
  }

  &__title {
    @include mobile {
      text-align: left;
    }
  }

  &__subtitle {
    @include tablet {
      max-width: 100%;
      font-size: 16px;
    }
  }

  &__list {
    @include tablet {
      max-width: 100%;
      gap: 20px;
    }

    @include mobile {
      grid-template-columns: 1fr;
      gap: 15px;
    }
  }

  &__list-item {
    @include mobile {
      font-size: 16px;
    }

    &::after {
      @include mobile {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__quote {
    @include tablet {
      padding: 30px;
      width: 100%;
    }

    @include mobile {
      padding: 25px 20px;
    }
  }

  &__quote-image {
    @include tablet {
      max-height: 250px;
      max-width: 250px;
      margin-bottom: 20px;
    }

    @include mobile {
      max-height: 200px;
      max-width: 200px;
    }
  }

  &__quote-title {
    @include tablet {
      font-size: 28px;
      text-align: center;
    }

    @include mobile {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }

  &__quote-subtitle {
    @include tablet {
      font-size: 16px;
      margin-bottom: 30px;
      text-align: center;
    }

    @include mobile {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }
}

// Advantages
.advantages__bg {
  @include tablet {
    height: 350px;
  }

  @include mobile {
    height: 250px;
  }

  img {
    @include tablet {
      height: 350px;
    }

    @include mobile {
      height: 250px;
    }
  }

  &::after {
    @include tablet {
      height: 120px;
    }

    @include mobile {
      height: 80px;
    }
  }
}

.advantages__inner {
  @include laptop {
    gap: 20px;
    justify-content: center;
  }

  @include tablet {
    gap: 20px;
    transform: translateY(-20%);
    justify-content: center;
  }

  @include mobile {
    gap: 15px;
    transform: translateY(-30%);
    flex-direction: column;
    align-items: center;
  }
}

.advantages__item {
  @include laptop {
    max-width: 240px;
    padding: 30px;
  }

  @include tablet {
    max-width: 220px;
    padding: 25px;
    gap: 15px;
  }

  @include mobile {
    max-width: 100%;
    width: 100%;
    padding: 20px;
  }
}

.advantages__item-icon {
  @include tablet {
    max-width: 70px;
    max-height: 70px;
  }

  @include mobile {
    max-width: 60px;
    max-height: 60px;
  }
}

.advantages__item-title {
  @include mobile {
    font-size: 16px;
  }
}

.advantages__item-text {
  @include mobile {
    font-size: 14px;
  }
}

// About
.about {
  @include laptop {
    padding: 100px 0;
  }

  @include tablet {
    padding: 70px 0;
  }

  @include mobile {
    padding: 50px 0;
  }

  &__title {
    @include tablet {
      margin-bottom: 30px;
    }
  }

  &__content {
    @include tablet {
      gap: 20px;
    }

    @include mobile {
      gap: 15px;
    }
  }

  &__text {
    @include laptop {
      font-size: 22px;
    }

    @include tablet {
      font-size: 18px;
      max-width: 100%;
    }

    @include mobile {
      font-size: 16px;
      text-align: left;
    }
  }
}

// Contact
.contact {
  @include laptop {
    padding: 80px 0;
  }

  @include tablet {
    padding: 60px 0;
  }

  @include mobile {
    padding: 40px 0;
  }

  &__inner {
    @include tablet {
      gap: 20px;
    }
  }

  &__title {
    @include tablet {
      text-align: center;
    }
  }

  &__info {
    @include tablet {
      font-size: 18px;
    }

    @include mobile {
      font-size: 16px;
    }

    span {
      @include mobile {
        margin-bottom: 10px;
      }
    }
  }

  &__btn {
    @include mobile {
      width: 100%;

      a {
        width: 100%;
        display: block;
        text-align: center;
      }
    }
  }

  &__help {
    @include tablet {
      max-width: 100%;
    }
  }
}

// Footer
.footer__inner {
  @include tablet {
    flex-direction: column;
    gap: 40px;
    padding: 40px 0;
  }

  @include mobile {
    gap: 30px;
    padding: 30px 0;
  }
}

.footer__column {
  @include laptop {
    gap: 100px;
  }

  @include tablet {
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }
}

.footer__block-list {
  @include mobile {
    gap: 15px;
    margin-bottom: 15px;
  }
}

.footer__btn {
  @include tablet {
    margin-bottom: 40px;
  }

  @include mobile {
    margin-bottom: 20px;
    width: 100%;

    a {
      width: 100%;
      display: block;
      text-align: center;
    }
  }
}

.footer__copy {
  @include mobile {
    font-size: 14px;
  }

  &::after {
    @include mobile {
      width: 60vw;
    }
  }
}

burger {
  display: none;
  flex-direction: column;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  z-index: 101;

  @include tablet {
    display: flex;
    margin-left: auto;
  }

  span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #3b1d1e;
    transition: all 0.3s ease;
    border-radius: 3px;
  }

  &.active {
    span:nth-child(1) {
      transform: rotate(45deg) translate(8px, 8px);
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      transform: rotate(-45deg) translate(8px, -8px);
    }
  }
}

// Menu - Update existing styles
.menu {
  @include tablet {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    max-width: 300px;
    height: 100vh;
    background-color: #eee2d4;
    flex-direction: column;
    padding: 80px 30px 30px;
    gap: 30px;
    transition: left 0.3s ease;
    overflow-y: auto;
    z-index: 100;
    align-items: flex-start;

    &.active {
      left: 0;
      padding: 0 20px;
      margin-bottom: auto;
    }
  }

  .call-btn {
    @include tablet {
      margin-left: 0;
      width: 100%;

      a {
        width: 100%;
        display: block;
        text-align: center;
      }
    }
  }
}

// Overlay
.menu-overlay {
  display: none;

  @include tablet {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 99;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }
}

// Nav - Update existing
.nav {
  @include tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}