<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Alex HandyMan</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="css/style.min.css" />
</head>

<body>
  <div class="wrapper">
    <header class="header">
      <div class="container-large">
        <nav class="nav">
          <button class="burger" aria-label="Toggle menu">
  <svg width="30" height="24" viewBox="0 0 30 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 2h30M0 12h30M0 22h30" stroke="#3b1d1e" stroke-width="3" stroke-linecap="round"/>
  </svg>
</button>
          <ul class="menu">
            <li class="menu__item">
              <a href="#">
                <img src="../images/Logo-clean.svg" alt="alex-handyman-logo" loading="lazy" />
              </a>
            </li>
            <li class="menu__item">
              <a href="#services">Services</a>
            </li>
            <li class="menu__item">
              <a href="#gallery">Gallery</a>
            </li>
            <li class="menu__item">
              <a href="#about">About</a>
            </li>
            <li class="menu__item">
              <a href="#contact">Contact</a>
            </li>
            <li class="call-btn menu__item call-btn--transparent ">
              <a class="menu__item-btn " href="tel:____">
                (323) 674-7412
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>